<html>
    <head>
        <title>bookmark app</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel ="stylesheet" type="text/css">
        <link  rel ="stylesheet" type="text/css" herf="app.css">
    </head>
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item"><i class="code icon"></i> bookmark site</div>
                <a href="/" class="item">Home</a>
                <a href="/bookmark/new" class="item">New post</a>
            </div>
        </div>