<htm>
    <head></head>
</htm>
<body>
    <h1 class="display-3">Bookmark your favorite site</h1>

      
        <form  action="/bookmark" method="POST">
            <div class="field">
                <label>title</label>
                <input type="text" name="bookmark[title]" placeholder="title">
    
            </div>
            <div class="field">
                <label>links</label>
                <input type="text" name="bookmark[link]" placeholder="image">
    
    
            </div>
            <div class="field">
                <label>publisher</label>
                <input type="text" name="bookmark[publisher]" placeholder="image">
                
    
    
            </div>
            
           
            
            <input class="ui violet big basic button" type="submit"> 
        </form>
      
     
    </div>
  </div>
</body>