<div class="ui main text container segment">
    <div class="ui huge header">New tag</div>
    <form class = "ui form" action="/tag" method="POST">
        <div class="field">
            <label>name</label>
            <input type="text" name="tag[name]" placeholder="title">
            <button>submit</button>

        </div>
        </form>
        